body, html{
    height: 100%;
    width: 100%;
    background-color: #dfdfdf;
    overflow: hidden;
    /*font-family: 'open sans';*/
}

.app-body{
    height: 100%;
}

#root{
    height: 100%;
}

.main-container, .main-container > .row, .main-container > .row > div{
    height: 100%;
}

.overflow_y{
    overflow-y: auto;
}

@media (max-width: 768px) {
    .main-container, .main-container > .row, .main-container > .row > div{
        height: auto;
    }

    body{
        overflow: auto;
    }
}